name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.5.1"

      - id: version_step
        uses: gittools/actions/gitversion/execute@v4.2.0

      - run: |
          echo "FullSemVer (steps.version_step.outputs.fullSemVer)            : ${{ steps.version_step.outputs.fullSemVer }}"
